@font-face {
    font-family: Inter;
    src: url(/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    margin: 0px;
}

body{
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    color: white;
    overflow: hidden;
    background: rgb(131,58,180);
    background: linear-gradient(150deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#conteudo{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    height: 685px;
    width: 100%;
}

.hr{
    width: 500px;
    color: white;
}

#imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 50%;
    padding-top: 30px;
}
img{
    width: 70%;
}

#botao{
    width: 190px;
    height: 55px;
    border-radius: 5px;
    border: 0px;
    color: red;
    background-color: white;
    font-size: 20px;
}

#botao:hover{
    background-color: rgb(201, 197, 197);
}

#input{
    border-radius: 5px;
    border: 0px;
    width: 200px;
    height: 30px;
}

@media (max-width: 600px){
    #conteudo{
        height: 1000px;
    }

    #imagem{
        width: 100%;
    }
    .hr{
        width: 250px;
    }

    h4{
        font-size: 14px;
    }
    #format{
        text-align: center; /* Centraliza horizontalmente */
    }
}